src/main/mule/lab4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="lab4-httpListenerConfig">
        <http:listener-connection host="localhost" port="8085" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" password="123456" path="C:\Users\1395353\AnypointStudio\studio-workspace\soa-lab-4-v3\server.keystore" keyPassword="123456"/>
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="lab4-config" api="lab4.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" parser="RAML"/>
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="511c76bd-88b7-40f2-a31d-c0bb923bba2d" >
		<wsc:connection wsdlLocation="http://localhost:8083/soap_cities_controller?wsdl" service="CitiesSoapControllerService" port="CitiesSoapControllerPort" address="http://localhost:8083/soap_cities_controller" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="lab4-main">
        <http:listener config-ref="lab4-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="lab4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="lab4-console">
        <http:listener config-ref="lab4-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="lab4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\cities\(id):application\json:lab4-config">
        <logger level="INFO" message="put:\cities:application\json:lab4-config" doc:name="Logger Update City"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="9386c0fe-edf3-4eed-94c3-4b1f62b03147">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml skipNullOn = "everywhere"
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#updateCity: {
		arg0: {
			area: payload.area,
			coordinates: payload.coordinates,
			government: payload.government,
			id: payload.id default 0,
			metersAboveSeaLevel: payload.metersAboveSeaLevel,
			name: payload.name,
			population: payload.population,
			standardOfLiving: payload.standardOfLiving,
			timezone: payload.timezone,
			governor: payload.governor
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="updateCity" doc:id="033cffad-bb4c-41db-924c-8b593237ac61" config-ref="Web_Service_Consumer_Config" doc:name="Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="5889cf73-86d3-4067-a759-98c5b8ac20f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://controller.soalab2.itmo.ru/
---
payload.body.ns0#updateCityResponse.return]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_Update City Validate error" doc:id="2cc200a6-c568-4967-8b04-c2f0056e6ee8" type="WSC:SOAP_FAULT" >
				<set-variable value="400" doc:name="Copy_of_Set httpStatus 400" doc:id="100c791a-7649-41f8-b867-91f88da2260b" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="caf341f1-67fe-4fbc-8680-021013ff92e8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.exception.cause.detail]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="delete:\cities\(id):lab4-config">
        <logger level="INFO" message="delete:\cities\(id):lab4-config" doc:name="Logger Delete City"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="7d491412-88bc-476b-98ad-20f6a7476221">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#deleteCity: {
		arg0: attributes.uriParams.id
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="deleteCity" doc:id="7d50f567-7f92-495a-9195-9490e22c9692" config-ref="Web_Service_Consumer_Config" doc:name="Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="93dda412-b34d-44aa-9adf-c7209a7376f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_City with current id is not found" doc:id="2e55d852-054b-4da4-b6fd-a9e9ae4908dd" type="WSC:SOAP_FAULT" >
				<set-variable value="404" doc:name="Copy_of_Set httpStatus 404" doc:id="d55e0932-66ea-4e69-98e4-e8eb6821d0d0" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="bb3f792d-95c5-4cad-8a1c-7c0854f68878" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\cities\filter:lab4-config">
        <logger level="INFO" message="get:\cities\filter:lab4-config" doc:name="Logger Get Cities By Meters Above Sea Level"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="89707574-3058-4275-baea-bb011fd145bd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#getCitiesByMetersAboveSeaLevel: {
		arg0: attributes.queryParams."meters-above-sea-level" as Number default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getCitiesByMetersAboveSeaLevel" doc:id="bd6515db-169a-436a-a1b6-d547379c002a" config-ref="Web_Service_Consumer_Config" doc:name="Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="b98f6dd1-a66e-4ab8-be32-54a1d6a5b5d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://controller.soalab2.itmo.ru/
---
payload.body.ns0#getCitiesByMetersAboveSeaLevelResponse.return pluck ((value, key, index) -> 
	value
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_Cities with meters above sea level more than current metersAboveSeaLevel are not found" doc:id="b4434fde-36ed-4bcd-a9e5-30db528fe371" type="WSC:SOAP_FAULT" >
				<set-variable value="404" doc:name="Copy_of_Set httpStatus 404" doc:id="c62a289c-3bee-4d73-9185-54c51f87759a" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="d633f83d-07e9-44be-89a5-198fe3e5f51e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\cities\meters-above-sea-level:lab4-config">
        <logger level="INFO" message="get:\cities\meters-above-sea-level:lab4-config" doc:name="Logger Get Unique meters above sea level"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="86bb7212-9d6e-48a6-9b2c-a48e645cccbc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#getUniqueMetersAboveSeaLevel: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getUniqueMetersAboveSeaLevel" doc:id="b9567038-ae74-4794-b204-5bfe8e89b31e" config-ref="Web_Service_Consumer_Config" doc:name="Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="7f5079cb-5ede-4337-8ba8-72f2c58f677f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://controller.soalab2.itmo.ru/
---
payload.body.ns0#getUniqueMetersAboveSeaLevelResponse.return pluck ((value, key, index) -> 
	value
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_Unique meters above sea level are not found" doc:id="9762e8aa-16e4-4839-9502-fce0042e0d5e" type="WSC:SOAP_FAULT" >
				<set-variable value="404" doc:name="Copy_of_Set httpStatus 404" doc:id="436c90d1-d0de-45d9-ad9b-7b86e55fd4c0" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="4f8a081f-8563-456c-aee9-8fd3e4e08e05" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\cities\filter:application\json:lab4-config">
        <logger level="INFO" message="post:\cities\filter:application\json:lab4-config" doc:name="Logger Add City"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="ecb1a1d0-9d83-4ed6-b266-257c2c190332">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#getCities: {
		arg0: {
			name: payload.name,
			(payload.height map ( height , indexOfheight ) -> {
				height: height
			}),
			page: payload.page,
			(payload.y map ( y , indexOfY ) -> {
				y: y
			}),
			(payload.x map ( x , indexOfX ) -> {
				x: x
			}),
			size: payload.size,
			(payload.government map ( government , indexOfGovernment ) -> {
				government: government
			}),
			(payload.metersAboveSeaLevel map ( metersAboveSeaLevel , indexOfMetersAboveSeaLevel ) -> {
				metersAboveSeaLevel: metersAboveSeaLevel
			}),
			(payload.standardOfLiving map ( standardOfLiving , indexOfStandardOfLiving ) -> {
				standardOfLiving: standardOfLiving
			}),
			(payload.population map ( population , indexOfPopulation ) -> {
				population: population
			}),
			(payload.creationDate map ( creationDate , indexOfCreationDate ) -> {
				creationDate: creationDate
			}),
			(payload.sort map ( sort , indexOfSort ) -> {
				sort: sort
			}),
			(payload.timezone map ( timezone , indexOfTimezone ) -> {
				timezone: timezone
			}),
			(payload.birthday map ( birthday , indexOfBirthday ) -> {
				birthday: birthday
			}),
			(payload.area map ( area , indexOfArea ) -> {
				area: area
			})
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getCities" doc:id="e18764f5-bdc0-4c04-9e13-b40ce7913100" config-ref="Web_Service_Consumer_Config" doc:name="Copy_of_Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="a732617c-b274-4f40-a9dd-342503619fd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	totalItems: payload.body.ns0#getCitiesResponse.return.totalItems,
	pageIndex: payload.body.ns0#getCitiesResponse.return.pageIndex,
	pageSize: payload.body.ns0#getCitiesResponse.return.pageSize,
	list: payload.body.ns0#getCitiesResponse.return.list pluck ((value, key, index) -> 
	value
)
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_Parse Filter Params Exception" doc:id="b689dc74-4fdd-4411-af78-91ea4b6921ba" type="WSC:SOAP_FAULT" >
				<set-variable value="404" doc:name="Copy_of_Set httpStatus 404" doc:id="33444d0d-9446-442d-9624-bc9d926575cc" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="3e26a43f-95a3-4dc9-a270-a3f0480a9e63" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\cities:application\json:lab4-config">
        <logger level="INFO" message="post:\cities:application\json:lab4-config" doc:name="Logger Add City"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="66f25e35-740e-477b-9660-abd67bc8d47e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml skipNullOn = "everywhere"
ns ns0 http://controller.soalab2.itmo.ru/
---
{
	ns0#addCity: {
		arg0: {
			area: payload.area,
			coordinates: payload.coordinates,
			government: payload.government,
			id: payload.id default 0,
			metersAboveSeaLevel: payload.metersAboveSeaLevel,
			name: payload.name,
			population: payload.population,
			standardOfLiving: payload.standardOfLiving,
			timezone: payload.timezone,
			governor: payload.governor
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="addCity" doc:id="74559210-4886-4c46-a9e2-c719dfc9555d" config-ref="Web_Service_Consumer_Config" doc:name="Consume" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="6583a5f5-166d-4731-91ab-9381a2738504" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://controller.soalab2.itmo.ru/
---
payload.body.ns0#addCityResponse.return]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Copy_of_Add City Validate error" doc:id="4acf39de-1434-4bde-b85b-d9d68af24dc9" type="WSC:SOAP_FAULT" >
				<set-variable value="400" doc:name="Copy_of_Set httpStatus 400" doc:id="4c3f732e-7e4f-4642-a137-27259009b9e4" variableName="httpStatus" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="8a221599-e940-4ff5-91e6-ca7169309c92" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.exception.cause.detail]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
